<header class="bg-light p-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-3">
            </div>
            <div class="col-md-6 text-center">
                <img src="../../../../../public/assets/img/Logo.png" alt="Logo" class="img-fluid">
                <p class="mt-2 text-muted">No es dieta, son hábitos</p>
            </div>
            <div class="col-md-3 text-end">
                <button class="btn btn-sm btn-outline-secondary" (click)="toggleLanguage()">
                    {{ currentLanguage === 'es' ? 'English' : 'Español' }}
                </button>
            </div>
        </div>
        
    </div>
</header>